{
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "quoteProps": "preserve",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf"
}
